<div class="my-space  py-6">
  <div class="flex justify-between items-end">
    <p class="-md sm:font-md pb-4 pl-10 ">
      {{ title }}
      {{ page.id }}
    </p>
    {% if collection.id %}
      <a class="text-right" href="{{ collection.url }}">
        <div class="">Explore {{ collection.title }} →</div>
      </a>
    {% endif %}
  </div>

  <div class="hidden md:grid grid-cols-4  ">
    {% if collection.id %}
      {% assign available_products = collection.products | where: 'available', true %}

      {% for product in available_products limit: 8 %}
        {% render 'product-card', product: product %}
      {% endfor %}
    {% else %}
      {% for product in products limit: 8 %}
        {% render 'product-card', product: product %}
      {% endfor %}
    {% endif %}
  </div>


</div>

<script>
  console.log('yeahh');

  let title = '{{ title | replace: " ", "-" }}';
  console.log(title);

  new Swiper(`#${title}`, {
    slidesPerView: 'auto',
    spaceBetween: 6,
    mousewheel: {
      forceToAxis: true,
    },
  });
</script>
