<style>
  .hero-{{ section.id }} {
      height: {{ section.settings.height }};
      min-height: 300px;
      align-items: {{ section.settings.align_y }};
      overflow: hidden;
  }

  .hero-{{ section.id }}__content {
      padding: 12px;
      display: flex;
      width: 88%;
      color: {{ section.settings.text_color | default: '#ffffff' }};
      gap: 7.5px;
      flex-direction: column;
      position: relative;
  }

  @media (min-width: 768px) {
    .hero-{{ section.id }}__content {
      padding: 24px;
      width: 42%;
      gap: 24px;
    }
  }
</style>

<a href="{{section.settings.collection_link.url | default: "/collections/all"}}">
  <div class="hero hero-{{ section.id }} outer">
    {% if section.settings.mobile_hero_image or section.settings.hero_image %}
      <div style="height: {{ section.settings.height  }}">
        {% assign mobile = section.settings.mobile_hero_image | default: section.settings.hero_image %}

        {% render 'image', image: mobile, class: 'w-full h-full sm:hidden object-cover z-0' %}

        {% render 'image',
          image: section.settings.hero_image,
          class: 'w-full h-full hidden sm:block object-cover z-0'
        %}
      </div>
    {% endif %}

    <div class="hero-{{ section.id }}__content z-10">
      <p class="">{{ section.settings.hero_subtitle }}</p>
      <h2 class="page-title  sm:font-xl">{{ section.settings.hero_title }}</h2>
    </div>
  </div>
</a>

{% schema %}
{
  "name": "Hero",
  "presets": [
    {
      "name": "Hero section"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "options": [
        { "value": "95svh", "label": "Full screen" },
        { "value": "auto", "label": "Auto" }
      ],
      "default": "95svh"
    },
    {
      "type": "radio",
      "id": "text_color",
      "label": "Navigation color",
      "options": [
        { "value": "#ffffff", "label": "White" },
        { "value": "#000000", "label": "Black" }
      ],
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_hero_image",
      "label": "Mobile Hero Image"
    },
  ]
}
{% endschema %}
